/* Base Styles */
body {
    margin: 0;
    padding: 0;
    font-family: 'Arial', sans-serif;
    background-image: url('/static/authentication/css/Image.png'); /* Updated path */
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: hidden;
}

.container {
    background-color: rgba(255, 255, 255, 0.9);
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    animation: fadeIn 0.5s ease-in-out;
    width: 300px; /* Adjust the width as needed */
    max-width: 80%; /* Set a maximum width for responsiveness */
    text-align: center;
}

@keyframes fadeIn {
    from {
        opacity: 0;
        transform: translateY(-20px);
    }
    to {
        opacity: 1;
        transform: translateY(0);
    }
}

h2, h3 {
    color: #2c3e50;
    margin-bottom: 20px;
}

label {
    display: block;
    margin: 10px 0 5px;
    color: #333;
}

input {
    width: calc(100% - 16px); /* Adjust the width as needed */
    padding: 8px;
    margin-bottom: 10px;
    box-sizing: border-box;
    border: 1px solid #ccc;
    border-radius: 4px;
}

button {
    width: calc(100% - 16px); /* Adjust the width as needed */
    padding: 10px;
    background-color: #27ae60;
    color: #fff;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-size: 16px;
    transition: background-color 0.3s ease-in-out;
}

button:hover {
    background-color: #218c53;
}

button a {
    color: #fff;
    text-decoration: none;
}

button.signup-btn,
button.signin-btn {
    background-color: #fff;
    color: #27ae60;
}

button.signup-btn:hover,
button.signin-btn:hover {
    background-color: #f0f0f0;
}

.alert {
    padding: 10px;
    margin-bottom: 15px;
    border-radius: 4px;
    animation: fadeIn 0.5s ease-in-out;
}

.alert-success {
    background-color: #dff0d8;
    color: #3c763d;
}

.alert-danger {
    background-color: #f2dede;
    color: #a94442;
}

.alert-dismissable .close {
    position: relative;
    top: -2px;
    right: -21px;
    color: inherit;
}

a {
    color: #3498db;
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}
