body {
    font-family: 'Arial', sans-serif;
    background-image: url('/static/converter/images/pdfviewer.png');
    background-size: cover;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.container {
    background-color: rgba(255, 255, 255, 0.9); /* Slightly transparent background */
    padding: 40px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    width: 400px;
    text-align: center;
}

h1 {
    font-size: 24px;
    color: #333;
    margin-bottom: 20px;
}

.pdf-list {
    list-style-type: none;
    padding: 0;
}

.pdf-list li {
    margin-bottom: 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.pdf-list a {
    text-decoration: none;
    color: #3498db;
    font-weight: bold;
}

.pdf-list a:hover {
    color: #2980b9;
}

.delete-form {
    display: inline;
}

.delete-btn {
    background-color: #e74c3c;
    color: white;
    border: none;
    border-radius: 4px;
    padding: 5px 10px;
    cursor: pointer;
    transition: background-color 0.3s;
}

.delete-btn:hover {
    background-color: #c0392b;
}

.back-link {
    display: block;
    margin-top: 20px;
    color: #3498db;
    text-decoration: none;
    font-weight: bold;
    transition: color 0.3s ease;
}

.back-link:hover {
    color: #2980b9;
}
