<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>My Audio Files</title>
    {% load static %}
    <link rel="stylesheet" href="{% static 'converter/css/list_audios.css' %}">
</head>
<body>
    <div class="container">
        <h1>My Audio Files</h1>
        <ul class="audio-list">
            {% for audio in audio_files %}
                <li>
                    <audio controls>
                        <source src="{{ audio.audio.url }}" type="audio/mpeg">
                        Your browser does not support the audio element.
                    </audio>
                    <form action="{% url 'delete_audio' audio.id %}" method="post" class="delete-form">
                        {% csrf_token %}
                        <button type="submit" class="delete-btn">Delete</button>
                    </form>
                </li>
            {% empty %}
                <li>No audio files available.</li>
            {% endfor %}
        </ul>
        <a class="back-link" href="{% url 'main_page' %}">Back to Main Page</a>
    </div>
</body>
</html>
