<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <title>Authentication</title>
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        {% load static %}
        <link rel="stylesheet" type="text/css" href="{% static 'authentication/css/styles.css' %}">
    </head>
    <body>
        <div class="container">
            {% for message in messages %}
            <div class="alert alert-{{ message.tags }} alert-dismissable fade show" role="alert">
                <strong>Message:</strong> {{ message }}
                <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                <span aria-hidden="true">&times;</span>
                </button>
            </div>
            {% endfor %}
            <h2>Welcome to PACTS</h2>
            {% if user.is_authenticated %}
            <h3>Hello {{ fname }} </h3>
            <h4>You are successfully logged in</h4>
            <button type="submit"><a href="/Signout"> SignOut</a></button>
            {% else %}
            <button type="submit"><a href="/Signup"> SignUp</a></button>
            <button type="submit"><a href="/signin"> SignIn</a></button>
            {% endif %}
        </div>
        <script src="{% static 'authentication/js/main.js' %}" async defer></script>
    </body>
</html>
